<header id="header-wrap">
	<div id="header-container">
		<div id="header">
			header footer fixed layout
		</div>
	</div>
</header>

<div id="container">

	<div id="history">
		<div id="history_title">History</div>
		<div id="history_list"></div>
	</div>

	<div id="search_results">
	</div>

</div>

<footer id="footer-wrap">
	<div id="footer-container">
		<div id="footer">footer</div>
	</div>
</footer>