@charset"utf-8";

body {
    margin: 0;
    padding: 40px 0 25px 0;
}
header {
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 26px;
}
footer {
    position: fixed !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
}
.container {
    position: absolute;
    top: 27px;
    right: 0;
    bottom: 26px;
    left: 0;
}
#main {
    height: 100%;
}

header .container,
footer .container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #E3E3E3;
}

/* defaultのwidthを100%で上書き */
@media (min-width: 1200px) {
    .container, 
    .navbar-static-top 
    .container, 
    .navbar-fixed-top 
    .container, 
    .navbar-fixed-bottom 
    .container {
        width: 100%;
    }
}

@media screen {
  .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .row-fluid [class*="span"] {
    margin-left: 0;
  }
}

#btn-search {
  margin-right: 10px;
}

/* borderで見やすく（仮）*/
#history, 
#search_results, 
header, 
footer {
    border: 1px solid #999;
}

/*----------- bootstrap-narrowバグ（？） ---------------*/

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: 0;
}
.btn {
  line-height: 19px;
}
input[type="radio"], 
input[type="checkbox"] {
  margin: 0;
}
.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
  padding: 0 7px;
  border: 1px solid #111111;
}