thema_blue_color()
 color #333

thema_blue_body()
 background #2D335B

thema_blue_special_container()
 background linear-gradient(top, #292C3E, #13152A)

thema_blue_special_color()
 color #FFF

thema_blue_container()
 background linear-gradient(top, #FFFFFF, #EEEEEE)
 
thema_blue_sidebar_active()
 background linear-gradient(top, #17162A, #272541)

thema_blue_sidebar_hover()
 background-color #1F203B

thema_blue_sidebar_color()
 color #AAAAAA

thema_blue_sidebar_border()
 border-bottom 1px solid rgba(0, 0, 0, .2)
 box-shadow(rgba(170, 170, 170, .3), 0 1px 0 inset)

thema_blue_results_border()
 border-bottom 1px solid rgba(0, 0, 0, .1)
 box-shadow(rgba(255, 255, 255, 1), 0 1px 0)

thema_blue_results_background()
 background #F9F9F9