{{#each history}}
<ul class="search" data-id="{{this.id}}"> 
  <li class="query">{{this.query}}</li> 
  <li class="service">({{this.service}})</li> 
  <li class="search-buttons"> 
    <button class="btn btn-mini btn-danger btn-delete"> 
      <i class="icon-remove-sign icon-white"></i> 
    </button> 
  </li> 
</ul> 
{{/each}}