<header id="search_bar"></header>
<div id="main" class="container-fluid">
  <div class="row-fluid">
    <div id="history" class="span2"></div>
    <div id="search_results" class="span10"></div>
  </div>
</div>
<footer id="footer" class="footer"></footer>